/* text-fontFamily, custom style */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.text-raleway{
    font-family: "Raleway", sans-serif;
}

.text-Inter{
    font-family: "Inter", sans-serif;
}

header{
    border: 1px solid red;
    margin-bottom: 2%;
}

main{
    border: 1px solid green;
    margin-bottom: 2%;
}

footer{
    border: 1px solid purple;
    margin-bottom: 2%;
}